#clickMeFlash {
    fill: none;
    stroke: red;
    stroke-width: 4;
    animation-name: flash1;
    animation-iteration-count: 4;
    animation-duration: 0.5s;
}

@keyframes flash1 {
    0% {stroke-width: 0;}
    50% {stroke-width: 4;}
    100% {stroke-width: 0;}
}

@keyframes flash2 {
    0% {stroke-width: 0;}
    50% {stroke-width: 4;}
    100% {stroke-width: 0;}
}

body {
    color: white;
    background-color: #004;
    font-family: sans-serif;
}

#text h1 {
    text-align: left;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,
        0 0 20px #3FF;
    font-size: 20px;
}

#text p {
    text-align: left;
}

.clickable {
    color: white;
}

.unclickable {
    color: #777;
}

.author {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    text-shadow: 0 0 10px #FFF;
}

.container {
    background-repeat: no-repeat;
    background-position: center;
    }

#wall {
    /* top: 0; left: 0; height:90%; width:100%;*/
    max-width: 100vw;
    max-height: 80vh;
    /* for MS IE 11: */
    min-height: 80vh;
    overflow: hidden;
}

#intro {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.8;
    text-align: center;
    border-radius: 10%;
    padding: 1em;
}

.intro-container {
    height: 200px;
    font-size: calc(1em + 1vh);
    /*position: relative;*/
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#intro div {
    padding: 15px;
    /*background-color: red;*/
}

#intro div.icon {
    padding: 15px;
    /*background-color: blue;*/
    vertical-align: center;
}

.button-ok {
    position: absolute;
    left: 50%;
    bottom: 30px;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    cursor: pointer;
    border-radius: 2px;
    border-color: white;
    border-width: 2px;
}

.circle {
    position: absolute;
    top: -10px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    width: 10px;
    opacity: 0;
    background-color: transparent;
}

.zodiac-signs {
    text-anchor:middle;
    alignment-baseline:middle;
    dominant-baseline:central;
    font-style:normal;
    font-weight:bold;
    font-size: 14px;
    line-height:14px;
}

.slidecontainer {
    position: fixed;
    width: 100%; /* Width of the outside container */
    bottom: 0;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: darkslateblue; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: orange; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: orange; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#text {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 20px;
}

#date {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 20px;
}

#dst-container {
    position: fixed;
    right: 0;
    bottom: 0;
    padding-right: 20px;
    padding-bottom: 20px;
}

#background-zodiac {
    position: fixed;
    height: 100vh;
    z-index: -1;
}

#zodiac-paintings {
    position: absolute;
    bottom: 0;
    transition: opacity 5s;
}
