#zodiac {
    position: absolute;
    left: 200px;
    top: 24px;
    width: 400px;
    height: 400px;

    animation: rotateZodiac 5s ease-in-out;
}

@-webkit-keyframes rotateZodiac {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    }
    to {
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    }
}

@keyframes rotateZodiac {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.zodiac-symbol {
    position: absolute;
    left: 176px;
    top: 0px;
    transform-origin: 24px 200px;
}

.ai {
    transition: transform 0.5s, text-shadow 0.5s ;
}

.ai:hover {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    text-shadow: 0px -2px 4px #777777;
}

#aries {
    transform: rotate(0deg);
}

#taurus {
    transform: rotate(30deg);
    /*-webkit-transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
}

#gemini {
    transform: rotate(60deg);
}

#cancer {
    transform: rotate(90deg);
}

#leo {
    transform: rotate(120deg);
}

#virgo {
    transform: rotate(150deg);
}

#libra {
    transform: rotate(180deg);
}

#scorpio {
    transform: rotate(210deg);
}

#sagittarius {
    transform: rotate(240deg);
}

#capricorn {
    transform: rotate(270deg);
}

#aquarius {
    transform: rotate(300deg);
}

#pisces {
    transform: rotate(330deg);
}




